{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог </a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>
                    <a class="button button-primary" href="{% url 'book' pub_date=book.pub_date %}">{{ book.name }}</a>
                </h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
                {% if books.has_previous %}
                <a class="btn btn-primary stretched-link" href="?page={{ books.previous_page_number }}">⟵
                    {% for page in prev_page %}
                    {{ page.pub_date|date:'Y-m-d' }}
                    {% endfor %}</a>
                {% endif %}
                {% if books.has_next %}
                <a class="btn btn-primary stretched-link" href="?page={{ books.next_page_number }}">
                    {% for page in next_page %}
                    {{ page.pub_date|date:'Y-m-d' }}
                    {% endfor %}⟶</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}